.chat-main
  .chat-header
    .chat-header-left
      .chat-header-left__title
        =@group.name
      %ul.chat-header-left__members
        Member:
        %li.chat-header-left__members__member
          - @group.users.each do |user|
            = user.name



    .chat-header-right
      = link_to edit_group_path(@group), class: "chat-header-right__btn" do
        Edit
        
  .chat-message
    = render @messages
  
  .chat-form
    .new-message
      .chat-infomation
        = form_for [@group, @message] do |f|
          = f.text_field :content,class: "chat-infomation__form" ,placeholder: "type a message"
          .chat-infomation
            = f.label :image,class: "chat-infomation__image" do
              = icon('fas','image')
              = f.file_field :image,class: "chat-infomation__file"
          = f.submit 'Send',class: 'submit-btn'
