.side-bar
  .side-user
    .side-infomation
      .side-name
        = current_user.name
      .side-icon
        = link_to new_group_path ,class: "side-icon__btn side-icon__btn--edit" do
          = icon('far','fa-edit')
          <i class='far fa-edit'></i>
          %span<>
        = link_to edit_user_path(current_user),class: "side-icon__btn" do
          = icon('fas','fa-cog')
          <i class="fas fa-cog"></i>
          %span<>
  .side-groupes
    - current_user.groups.each do |group|
      .side-group
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .group-message
            = group.show_last_message
